* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./img/jokenpô.png') no-repeat center center fixed;
    background-size: cover;
    /* Faz a imagem cobrir toda a tela */
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: rgb(253, 253, 253);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}


.machine-score {
    color: rgb(0, 0, 0);
    text-shadow:
        -1px -1px 0 rgb(255, 255, 255),
        1px -1px 0 rgb(255, 255, 255),
        -1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
}

.your-score {
    margin-left: 1080px;
    color: rgb(255, 255, 255);
    text-shadow:
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
        0 0 5px rgba(0, 0, 0, 50);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
     width: 70px;
    height: 70px;
}


.your-score span {
    color: rgb(91, 231, 98);
}

.machine-score span {
    color: red;
}